:root {
    --font: 'Montserrat', sans-serif;
    --white: white;
    --gradiant: linear-gradient(90deg,
            hsl(206deg 86% 68%) 0%,
            hsl(207deg 86% 67%) 0%,
            hsl(207deg 86% 66%) 0%,
            hsl(207deg 86% 65%) 0%,
            hsl(207deg 86% 64%) 0%,
            hsl(208deg 86% 63%) 1%,
            hsl(208deg 86% 62%) 2%,
            hsl(208deg 86% 61%) 3%,
            hsl(208deg 86% 59%) 4%,
            hsl(209deg 85% 58%) 7%,
            hsl(209deg 85% 57%) 10%,
            hsl(209deg 85% 56%) 15%,
            hsl(209deg 84% 55%) 28%,
            hsl(209deg 84% 54%) 84%,
            hsl(210deg 84% 53%) 90%,
            hsl(210deg 83% 52%) 93%,
            hsl(210deg 82% 51%) 96%,
            hsl(211deg 82% 50%) 97%,
            hsl(211deg 83% 49%) 98%,
            hsl(212deg 84% 49%) 99%,
            hsl(213deg 84% 49%) 100%,
            hsl(214deg 83% 48%) 100%,
            hsl(215deg 82% 48%) 100%,
            hsl(217deg 80% 49%) 100%,
            hsl(218deg 78% 49%) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(pictures/after-sunset-minimal-2024-4k-3840x2160_1705278513-2048x1152.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
}

.box {
    position: relative;
    border: var(--white) 1px solid;
    width: 40%;
    border-radius: 5px 5px 5px 5px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 7px 4px rgba(255, 255, 255, 0.221);
    backdrop-filter: blur(4px) saturate(100%);
    /* -webkit-backdrop-filter: blur(4px) saturate(100%); */
    background-color: rgba(17, 25, 40, 0.3);
    border-radius: 12px;
    border: 2px solid rgb(255, 255, 255);
}
.hi {
    position: relative;
    /* border: green 2px solid; */
    width: 95%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hi h1 {
    color: var(--white);
    font-size: 250%

}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 95%;
    /* border: red solid 2px; */
    /* box-sizing: border-box; */
    position: relative;

}

.user {
    border: var(--white) 4px solid;

    outline: 0px green solid;
    width: 95%;
    height: 35%;
    margin: 10px;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 20px 20px;
    box-sizing: border-box;
    padding: 20px;
    font-size: 30px;
    color: #e3ebf7;
    position: relative;


}

.user:focus {
    border: #3d86ec 4px solid;
}

.user::placeholder {
    color: #d8dbde;
    font-size: 20px;
}

.forget {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 95%;
}

.forget h1 {
    color: white;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100px;
}

#sub {
    all: unset;
    background-color: white;
    width: 80%;
    height: 70%;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    background-image: var(--gradiant);
    font-size: 30px;
    color: rgb(222, 222, 222);
}

#sub:hover {
    filter: brightness(80%);
}

.sign {
    width: 95%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sign h1 {
    font-size: 20px;
    color: white;
    font-weight: lighter;
}

.sign h1:hover {
    color: #3d86ec;
}

.forget h1:hover {
    color: #3d86ec;
}

.pic1 {
    position: absolute;
    width: 30px;
    top: 20%;
    left: 87%;
}

.pic2 {
    position: absolute;
    width: 32px;
    left: 87%;
    top: 64%
}