* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --color: linear-gradient(0deg, #1C352F 37%, rgba(255, 255, 255, 0) 37%);

}

body {
    margin: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    all: unset;
    height: 50%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: blue solid 2px;
    background-color: #5CD2B8;
    border: 10px solid #3B8272;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 100%;
    z-index: -2;
    background-color: #2e564e;
    margin: -20px;
}

button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 100%;
    z-index: -1;
    background-image:var(--color) ;
    margin: -35px;
}
button img
{
    width: 150px;
}
body
{
    background-color: black;
}