:root {
  --robot: "Roboto", sans-serif;
  --lato: "Lato", sans-serif;
  --aqua: #5cd2b8;
  --glow: 0 0 1px #5cd2b8, 0 0 1px #5cd2b8, 0 0 1px #5cd2b8, 0 0 1px #5cd2b8;
  --gradcolor: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 32%,
    rgb(45, 84, 78) 100%
  );
  --gredwhite: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 32%,
    rgba(255, 0, 0, 0.386) 100%
  );
}

body {
  font-family: var(--robot);
  margin: 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  background-color: #ffffff;
  height: 100vh;
}
.page1 {
  height: 100vh;
  width: 100%;
  /* border: blue 2px solid; */
}
.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}
.navbar1 button {
  background-color: #82b53f;
  color: white;
  height: 75%;
  padding: 0px 20px;
}
.navbar1 img {
  height: 30px;
}
.navbar3 {
  height: 120px;
  background-color: #151515;
  display: flex;
  z-index: 4;
  position: relative;
}
.navbar3 nav div div ul li .nav-link {
  color: white;
  transition: 0.3s;
}
.navbar3 nav div div ul li .nav-link:hover {
  color: var(--aqua);
  text-shadow: var(--glow);
  transform: scale(1.1);
}
.text1 {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--aqua);
  font-family: var(--lato);
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 1px;
}
.text2 {
  position: absolute;
  max-height: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 7px;
  left: 0;
  right: 0;
  bottom: 10%;
  letter-spacing: 5px;
}
#list {
  width: 75%;
}
@media (max-width: 992px) {
  .text1 {
    font-size: 50px;
  }
  #list {
    width: 100%;
  }
  .navbar3 nav div div ul li {
    display: flex;
    justify-content: end;
    margin-right: 10%;
  }
  .navbar3 nav div div ul {
    background-image: linear-gradient(
      90deg,
      rgba(31, 60, 55, 0) 45%,
      rgba(0, 0, 0, 0.57) 45%
    );
  }
}
.main1 {
  position: relative;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100vh);
  display: flex;
  justify-content: end;
  background-image: var(--gradcolor);
  overflow: hidden;
}
.main1 .picture {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.main1 .picture img {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 88%;
}
.main1 .picture::after {
  content: "";
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(12, 62, 54, 0.248) 100%);
  width: 100%;
  z-index: 1;
}

.main1 .text
{
  color :white;
  position: absolute;
  z-index: 4;
  width: 60%;
  top: 0;
  left: 14%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
} 
.t1
{
  margin-top: 15%;
  margin-bottom: 2%;
  color: var(--aqua);
  font-weight: 700;
  letter-spacing: 7px;
  font-size: 20px;
  justify-items: center;

}
.t2
{
  font-family: var(--robot);
  color:white;
  font-size: 71px;
  width: 75%;
  text-align: start;
  font-weight: 900;
  display: flex;
  letter-spacing: 2px;
  flex-direction: row;
  justify-content: center;
  line-height: 108%;  
}
.line
{
  margin: 2% 0;
  border:var(--aqua) solid 2px ;
  width: 10%;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.paragraph
{
  width: 53%;
  color: gray;
  margin-bottom: 3%;
}
.p1button 
{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 50%;
}
.p1button button
{
  all:unset;
  width: 50px;
  aspect-ratio: 1/1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--aqua);
    border: 5px solid #3B8272;
  border-radius: 50%;
  margin-right: 10%;
}
.p1button button::before
{
  content: "";
  position: absolute;
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  z-index: -2;
  background-color: #22413B;
  margin: -8px;
}
.p1button button::after
{
  content: "";
  position: absolute;
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  z-index: -1;
  background-image:linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, rgba(27,52,46,1) 60%);;
  margin: -10px;
}




