:root {
    --font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(pictures/castello-oldofredi-paderno-1.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;

}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    width: 100%;
    position: fixed;
    z-index: 4;
}

.hi {
    display: flex;
    justify-content: center;
    font-size: 72px;
    color: #ffffff;
    /* White color for the text */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2),
        /* Slight shadow for depth */
        4px 4px 10px rgba(0, 0, 0, 0.1),
        /* Softer outer shadow */
        6px 6px 15px rgba(0, 0, 0, 0.05);
    /* Final soft layer */
    letter-spacing: 2px;
    font-weight: bold;
    background-color: rgba(240, 248, 255, 0);
    font-family: var(--font);
}

.div {
    display: flex;
    justify-content: space-around;
}

.pic {
    margin: 10px;
}

/*------------------------end of top head---------------------------*/
.structuer {
    display: flex;
    flex-direction: row;
    /* border: 3px red solid; */
    justify-content: space-between;
    height: 750px;
}

.middlecolumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 5px blue solid; */
    justify-content: space-around;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* border: 2px red solid;  */

}

.pizza {
    margin: 10px;
    position: relative;
    width: 97%;
    height: 200px;
    /* border: 5px green solid; */
    background-image: url('pictures/pizaawrap.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.pasta {
    margin: 10px;
    position: relative;
    width: 97%;
    height: 210px;
    background-image: url('pictures/pasta.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.drinks {
    margin: 10px;
    position: relative;
    width: 97%;
    height: 200px;
    background-image: url('pictures/Drinks.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

}

.text_pic {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-content: center;

    font-size: 72px;
    color: #c9c9c9;
    /* White color for the text */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2),
        /* Slight shadow for depth */
        4px 4px 10px rgba(0, 0, 0, 0.1),
        /* Softer outer shadow */
        6px 6px 15px rgba(0, 0, 0, 0.05);
    /* Final soft layer */
    letter-spacing: 5px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.354);
    font-family: var(--font);
}

.text_pic:hover {
    background-color: rgba(0, 0, 0, 0.549);


}

.sides {
    width: 400px;
    height: 100%;
    z-index: 1;
    visibility: hidden;
}