*
{
margin:0;
padding: 0;
}
.navbar
{
    background-color:  #444444;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 901;
}
.div1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     /* border: green 2px solid;  */
     width: 35%;
}
.newacc
{
    height: 35px;
    width: 120px;
    margin-right: 20px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #ffffff    0.5px  solid;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.308);
}
.newacc h1
{
    color: rgb(247, 247, 247);
    font-size: 15px;
    margin: 5px;
    text-shadow: 1px 1px 5px black;
}
.newacc img
{
    width: 15px;
}
.newacc:hover
{
    background-color: #ffffff98;
    cursor:pointer;
}
.login
{
    display: flex;
    border: #ffffff    0.5px  solid;
    height: 35px;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin-right: 20px ;
}
.login h1
{
    color: rgb(247, 247, 247);
    font-size: 15px;
    margin: 5px;
    text-shadow: 1px 1px 5px black;
}
.login img
{
    width: 15px;
}
.login:hover
{
    background-color: #ffffff98;
    cursor:pointer;
}
.both
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border :blue 2px solid; */
    height: 57px;
    width: 57px;
}
.both img
{
    width: 22px;
}
.both:hover
{
    background-color: #ffffff98;
    cursor:pointer;
}
.div2
{
    /* border: red 3px solid; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 35%;
}
.list
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 20px;
    /* border :blue 2px solid; */
    height: 57px;
    width: 57px;
    margin-right: 50px;
}
.list img
{
    width: 35px;
}
.list:hover
{
    background-color: #ffffff98;
    cursor:pointer;
}

.five img
{
    height: 45px ;
}
.five:hover
{
    cursor:pointer;
}
.catogry
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    height: 57px;
padding: 5px;
}
.catogry h1
{
    color: rgb(247, 247, 247);
    font-size: 23px;
    margin: 10px;
    text-shadow: 1px 1px 5px black;
}
.catogry img
{
    width: 20px;
}
.catogry:hover
{
    background-color: #ffffff98;
    cursor:pointer;
}

